.container{
  display: flex;
  justify-content: center;
  text-align: center;
  background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.card{
  width: 18rem;
  margin-top: 70px;
}